@import "../../assets/style/variables.scss";

.container {
   //  width: 78%;
   //  margin: 0 auto;
}
.mainText {
    display: flex;
    justify-content: space-between;
	 align-items: center;
    margin-bottom: 24px;
}
.charge {
    width: 206px;
    height: 48px;
    color: $primary;
    padding: 12px 32px;
    background-color: $main-color;
    border-radius: 4px;
}
.categoryText {
    color: $primary;
}
.categories {}

.categoryBox {
	border-radius: 4px;
	background-color: $main-color;
	padding: 24px 0;
	text-align: center;
	width: 100%;
}
.categoryBox p {
    color: #000;
}

