.header{
	margin-bottom:44px;
}
.header__row{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__left{
	display: flex;
	align-items: center;
	gap:24px;
}
.header__left h4::first-letter {
	text-transform: uppercase;
}
.header__icon-wrapper{
	display: grid;
	place-items:center;
	padding:12px;
	border-radius:4px;
	background-color:var(--color_3);
}
.header__right{
	display: flex;
	align-items: center;
	gap:32px;
}
.header__right > svg{
	flex-shrink: 0;
}
.header__form-wrapper{
	display: flex;
	align-items: center;
	gap:12px;

	padding:12px;
	background-color:var(--color_3);
	color:var(--color_4);
	border-radius:4px;
}
