.card {
    width: 335px;
    background-color: #F8F8F7;
    border-radius: 4px;
    padding: 40px;
    text-align: center;
}

.card img {
    margin: 0 auto 1.2rem auto;
    display: block;
    height: 120px;
}

.card span {
    display: block;
}

.product-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.product-number {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #9A9B9F;
    margin-bottom: 16px;
}

.product-price {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #FEBB1B;
}